<table>
  <tr>
    <td colspan="5">
      <h3>Order Items:</h3>
    </td>
  </tr>
  <tr *ngFor="let item of order.items">
    <td>
      <a routerLink="/room/{{item.room.id}}">
        <img [src]="item.room.imageUrl"/>
      </a>
    </td>
    <td>
      <strong>
      {{item.room.name}}
    </strong>
    </td>
    <td class="total">
      {{item.room.price | currency}}
    </td>
    <td>
      {{item.quantity}}
    </td>
    <td class="total">
      {{item.price | currency}}
    </td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td class="total">
      <strong>
        Total :
      </strong>
    </td>
    <td>
      <strong>
        {{order.totalPrice | currency}}
      </strong>
    </td>
  </tr>
</table>
